:root{
    --color1:#FCF9F3;
    --color2:#302DF0;
    --color3:#E7EAF5;
  }
  
  ::selection{
    background-color:var(--color2);
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color2);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 60%;
    scroll-behavior: smooth;
  }
  
  body{
    background-color:var(--color1);
    margin:0;
    font-family:Poppins;
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color1);
  }
  /* NAVBAR */
  #navbar {
    display: flex;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    background: var(--color2);
    z-index: 10;
    padding:25px;
    
  }
  
  .nav-list {
    display: flex;
    margin-right: 2rem;
    
  }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    margin-left: 20px;
    font-size: 2rem;
    padding: 15px;
    transition:all 1s ease;
  
  }
  
  .nav-list a:hover {
    transition:0.3s;
    /*font-weight: 600;*/
    text-shadow: 1px 0 0 white;
    background-color: var(--color1);
    color:black;
    padding: 15px;
    border-radius: 5px;
  
  }

  .gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
    max-width: 1400px;
    margin: 0 auto;
    padding:1% 5% 5% 5%;
  }

  .desc{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    transition:all 1s ease;
    color:black;
  }
  .desc h1{
    margin-top: 170px;
    text-align:center;
    padding-left: 10%;
    padding-right: 10%;
    font-size:56px;
    line-height:1;
  }
  .desc h3{
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  .gallery img{
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    transition:all 1s ease;
    position:relative;
  }
 
  .images-kaebedo img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    transition:all 1s ease;
    position:relative;
  }

  .images-winter img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    transition:all 1s ease;
    position:relative;
  }

/*Footer*/
footer{
    background-color:var(--color2);
    padding:10px;
    color:var(--color1);
  }
