:root{
    --color1:#FCF9F3;
    --color2:#302DF0;
    --color3:#E7EAF5;
    --color4:#C9C9DE;
    --color5:#312B2B;
    --color6:#FCA88D;
  }
  
  ::selection{
    background-color:var(--color2);
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--color2);
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: inherit;
  }
  
  html {
    box-sizing: border-box;
    font-size: 60%;
    scroll-behavior: smooth;
  }
  
  body{
    background-color:var(--color1);
    margin:0;
    font-family:'Noto Sans Mono';
  }
  
  ul {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    color: var(--color1);
  }
  /* NAVBAR */
  .container-fluid{
    padding:10px;
    background-color: #312B2B;
    margin: 0 auto;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right:0;
    width: 100%;
    
  }
  
  .container-fluid a{
    color: var(--color1);
    margin-left: 30px;
    font-family: 'Changa One';
    font-size: 20px;
    transition: all 1s ease;
    cursor: pointer;
    font-weight: 400;
  }
  
  .navbar-brand:hover{
    color: var(--color4) !important;
  }
  
  .navbar-nav{
    font-size: 20px;
  
  }
  .navbar-nav .nav-item a{
    color: var(--color1);
    font-family: 'Noto Sans Mono';
    font-weight: 400;
    margin-left: 10px;
    margin-right: 60px;
  } 
  
  .navbar-nav .nav-item a:hover{
    color: var(--color6);
  }
  
  .navbar-toggler-icon{
    color: var(--color1) !important;
  }
  .custom-toggler.navbar-toggler
  {
    border-color: var(--color1);
    background-color: var(--color1);
      margin-right:30px;
  }
  @media (max-width:440px){
    header{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
    .nav-list{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      justify-content:center;
      align-items: center;
      margin: 0 auto;
  
    }
    .nav-list a{
     margin-top: 10px;
     margin-bottom: 10px;
     line-height:1.8;
     font-weight: 500;
    }
  
    .images-kaebedo img{
      max-height:300px;
      max-width: 300px;
      margin-bottom: 100px;
    }

    .images-winter img{
      max-height:300px;
      max-width: 300px;
      margin-bottom: 100px;
    }

    .images-winter{
      display: flex;
      justify-content: center;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap:15px;
    }


    
    
 }
  
  @media (max-width: 28.75em) {
    .nav {
      justify-content: center;
    }
  
    .nav-list {
      margin: 0 1rem;
    }
  }
  
  .nav-list a {
    font-size: 2rem;
    padding: 3rem;
    font-weight: 500;
  }
  
  .nav-list a:hover {
    transition:0.3s;
    /*font-weight: 600;*/
    color: var(--color6);
    font-weight: 500;
  }

  .content-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
  }
  
  .gallery{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    max-width: 100%;
    margin: 0 auto;

  }
  .desc{
    display:flex;
    flex-direction:column;
    justify-content:center;
    flex-wrap:wrap;
    align-items:center;
    text-align: center;
    color:black;
    width: 100%;
  }
 
  .desc h3{
    margin-top: 25px;
    margin-bottom: 35px;
    text-align: center;
  }
  .gallery img{
    width: 100%;
    max-width: 350px;
    height: 500px;
    object-fit: cover;
    transition:all 1s ease;
  }
 
  .images-kaebedo img{
    width: 100%;
    max-width: 700px;
    height: 500px;
    object-fit: cover;
    transition:all 1s ease;
    margin: 0 auto;
    text-align: center;
  }
  .images-winter img{
    width: 100%;
    max-width: 350px;
    height: 300px;
    object-fit: cover;
    transition:all 1s ease;
    text-align: center;
    margin: 0 auto;
  }
 
  .desc h1{
    margin-top: 80px;
    text-align:center;

    font-size:6rem;
    line-height:1;
  }
  .desc h3{
    font-size: 2rem;
    text-align: center;
  }

/*VIEW THESIS*/
.thesis-desc{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  text-align: center;
  color:black;
  margin-top: 120px;
  margin-bottom: 50px;
  
}
.thesis-desc h1{
  text-align:center;
  font-size:5rem;
  line-height:1;
}
.thesis-desc h3{
  margin-top: 30px;
  font-size: 2rem;
  text-align: center;
}
.images-thesis{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  flex-direction: row;
  gap: 15px;

}
.images-thesis img{
  width: 100%;
  width: 350px;
  height: 220px;
  object-fit: cover;
  transition:all 1s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.thesis-gallery{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin: 0 auto;
}




/*Footer*/
footer{
    background-color:var(--color2);
    padding:10px;
    color:var(--color1);
    margin-top: 100px;
    width: 100%;

  }
