:root{
  --color1:#FCF9F3;
  --color2:#302DF0;
  --color3:#E7EAF5;
}

::selection{
  background-color:var(--color2);
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: var(--color2);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 60%;
  scroll-behavior: smooth;
}

body{
  background-color:var(--color1);
  margin:0;
  font-family:Poppins;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--color1);
}
/* NAVBAR */
#navbar {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  right:0;
  width: 100%;
  background: var(--color2);
  z-index: 10;
  padding:25px;
}

.nav-list {
  display: flex;
  margin-right: 2rem;
}

@media (max-width: 28.75em) {
  .nav {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

.nav-list a {
  font-size: 2rem;
  padding: 3rem;

}

.nav-list a:hover {
  transition:0.3s;
  /*font-weight: 600;*/
  text-shadow: 1px 0 0 white;

}

/* END OF NAVBAR */

/* ABOUT SECTION*/
.about{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 270px;
  margin-bottom: 300px;
  background-color:var(--color1);
  z-index:1;
  position: relative;
}
hr.solid {
    border-top: 1px solid var(--color2);
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 100px;
    text-align: center;
}


.about h1{
  text-align:left;
  padding-left: 10%;
  padding-right: 10%;
  font-size:90px;
  line-height:1;

}

.about p{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    font-size:20px;

   
}

.about span, .contact span{
  color:var(--color2);
}
/* END OF ABOUT SECTION*/

/* PROJECTS SECTION */
#projects .project-section-title{
  text-align:center;
  font-size:80px;
  margin-bottom:30px;
  color:var(--color2);
}

.web-design, .figma-design{
  background-color:var(--color1);
  text-align:center;
}

.web-design h1{
  margin-top:80px;
  text-align:center;
  font-size:60px;
  color:black;
}

.figma-title h1{
  text-align:center;
  font-size:60px;
  margin-top:50px;
  margin-bottom:10px;
  color:black;
}

.web-design h2, .figma-design h2{
  font-size:20px;
  margin-top: 20px;
  
}

.project-gallery{
  gap:15px;
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  margin:0 auto;
  padding:1% 5% 5% 5%;
}

.web-design img, .figma-design img{
  width:100%;
  object-fit: cover;
  max-width:500px;
  height:300px;
  margin-left:-50px;
  margin-right:-50px;
  z-index:5;
}

.web-project-1,
.web-project-2,
.web-project-3,
.web-project-4, 
.web-project-5,
.figma-project-1,
.figma-project-2,
.figma-project-3,
.figma-project-4{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  padding:20px;
  cursor:pointer;
  transition:all 1s ease;
  color:black;
  border:2px solid var(--color1);
}

.web-project-1:hover, 
.web-project-2:hover, 
.web-project-3:hover, 
.web-project-4:hover, 
.web-project-5:hover,
.figma-project-1:hover,
.figma-project-2:hover,
.figma-project-3:hover,
.figma-project-4:hover{
  color:var(--color1) !important;
  background-color:var(--color2);
  border:2px solid var(--color2);
  transition:0.5s;
}

/* GRAPHICS/ILLUSTRATION*/

.illust-title h1, .sketch-title h1{
  margin-top:80px;
  text-align:center;
  font-size:60px;
  color:black;
}
.photo-gallery{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding:1% 5% 5% 5%;
  gap: 16px;
}

.illust-1,.illust-2,.illust-3{
  display:flex;
  flex-direction:column;
  justify-content:center;
  flex-wrap:wrap;
  align-items:center;
  padding:20px;
  cursor:pointer;
  transition:all 1s ease;
  color:black;
  border:2px solid var(--color1);
}

.illust-1:hover,.illust-2:hover,.illust-3:hover{
  color:var(--color1) !important;
  background-color:var(--color2);
  border:2px solid var(--color2);
  transition:0.5s;
}

.illust-1 img{
  height: 500px;
}

#illust-section img{
  width: 100%;
  max-width:350px;
  height:300px;
  object-fit: cover;
  transition:all 1s ease;
  position:relative;
}


#misc-illust-section img, #sketchbook-pages img{
  width: 100%;
  max-width:500px;
  height:300px;
  object-fit: cover;
  position:relative;
}

/* END OF PROJECTS SECTION */

/* CONTACT */
.contact{

  padding:50px;
  color:black;
  background-color:var(--color1);
  text-align:center;
}

.contact h1{
  margin-bottom: 20px;
  font-size:60px;
  color:var(--color2);
}

.contact a{
  color:black;
}

.contact p{
  margin-top:20px;
  font-size:15px;
}

.fa-brands{
  font-size:100px;
}

.contact-gallery{
  display:flex;
  justify-content:center;
  flex-direction:row;
  align-items:center;
  flex-wrap:wrap;
  margin:0 auto;
  gap:15px;
  padding:60px;
  margin-bottom: 30px;
}

.freecodecamp,.github,.linkedin,.codepen,.instagram{
  padding:60px;
  margin:0 -10px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-wrap:wrap;
  flex-direction:column;
  /*display:inline-block;*/
  color:black; 
  text-align:center;
  max-width:500px;
  height:200px;

}

/* END OF CONTACT */
footer{
  background-color:var(--color2);
  padding:10px;
  color:var(--color1);
}
